notify_url=https://example.com/payment/notify

# Alipay
alipay_id=
alipay_secret=
alipay_public_key=
alipay_return_url=https://example.com/payment/return
alipay_tid=
alipay_legal_name=
alipay_fee=0.10
alipay_order_id=
alipay_refund_unique=
alipay_refund_fee=0.10

# Wechat Pay v3
tenpay_id=
tenpay_mchid=
tenpay_secret=
tenpay_cert_content_public=
tenpay_cert_content_private=
tenpay_h5_app_name=
tenpay_h5_app_url=https://example.com
tenpay_openid=
tenpay_order_id=
tenpay_refund_unique=
tenpay_refund_fee=0.10

# Stripe
stripe_secret=
stripe_webhook_secret=
